.card-closed {
    background-color: #FFFFFF;
    width: 300px;
    height: 66px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2 );
    color: #333333;

  }

 .card-closed h2 {
    font-size: 16px;
    font-weight: 700;
    font-family: Recursive;
  }

  .card-closed ion-icon {
    font-size: 24px;
    cursor: pointer;
  }

  .card-open {
    background-color: #FFFFD4;
    width: 300px;
    height: 130px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2 );
    color: #333333;
    flex-direction: column;
  }

  .card-open h3 {
    padding: 20px;
    font-size: 18px;
    font-family: Recursive;
  }

  .card-open img {
    height: 20px;
    position: absolute;
    margin-top: 100px;
    margin-left: 260px;
  }

  .card-open img:hover {
    cursor: pointer;
  }

