.footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    font-family: Recursive;
    font-size: 18px;
  }

ion-icon .not-remember-icon {
    color: #FF3030;
    visibility: visible;
}

.almost-icon {
    color: #FF922E;
}

.zap-icon {
    color: #2FBE34;
}